<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
  </head>
  <body>
    <form method="post">
        <label for="nev">
            <input type="text" name="nev">
        </label>
        <input type="color" name="color">
        <button type="submit">Küldés</button>
    </form>
  </body>
</html>